/* Font : Gravitas One --> directly from a site */
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

/* To not depend of a site, directly download the font and give it any name */
@font-face {
    font-family: "Quicksand";
    src: url(./font/Quicksand-VariableFont_wght.ttf);
}

body {
    font-family: "Quicksand", sans-serif;
    background: url(../png/ME.png) center/cover;
    /* vh = cover perfectly the user screen */
    min-height: 100vh;
    color: blue;
    
}

nav {
    font-size: 20px;
}

nav:hover {
    cursor: pointer;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /* 1rem = 16px */
    font-size: 2.5rem;
    text-shadow: 3px 3px 8px #00000057;
    color: rgb(20, 59, 94);
    font-family: "Gravitas One", sans-serif;
}